In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(r"C:\Users\basel\Desktop\Collage things\2nd year\2nd sem\data engineering\Codes\Chapter07\data\source\user_hits.db")

In [4]:
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table'")

cursor.fetchall()

[('tbl_user_hits',)]

In [6]:
import pandas as pd

In [7]:
df = pd.read_sql_query("SELECT * FROM tbl_user_hits;", conn)

df.head()

   userid      date
0     1.0  1/1/2017
1     2.0  1/2/2017
2     3.0  1/3/2017
3     4.0  1/1/2018
4     5.0  1/2/2018

In [8]:
df.to_csv("user_hits_export.csv", index=False)

In [9]:
conn.close()

In [10]:
df = pd.read_csv('user_hits_export.csv', header=0,names=['userid', 'date'])

In [11]:
df.head()

   userid      date
0     1.0  1/1/2017
1     2.0  1/2/2017
2     3.0  1/3/2017
3     4.0  1/1/2018
4     5.0  1/2/2018

In [13]:
user_1 = df[df['userid'] == 1]

user_1

   userid      date
0     1.0  1/1/2017
6     1.0  1/1/2019

In [15]:
user_1.sort_values(by='date', ascending=False)

   userid      date
6     1.0  1/1/2019
0     1.0  1/1/2017

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userid  9 non-null      float64
 1   date    12 non-null     object
dtypes: float64(1), object(1)
memory usage: 320.0+ bytes

In [19]:
import datetime

In [34]:
df['age'] = (datetime.datetime.now() - pd.to_datetime(df['date'])).dt.days

In [28]:
datetime.datetime.now()

datetime.datetime(2022, 6, 6, 16, 37, 43, 822441)

In [35]:
df.head()

   userid      date   age
0     1.0  1/1/2017  1982
1     2.0  1/2/2017  1981
2     3.0  1/3/2017  1980
3     4.0  1/1/2018  1617
4     5.0  1/2/2018  1616

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userid  9 non-null      float64
 1   date    12 non-null     object
 2   age     12 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 416.0+ bytes

In [38]:
df.isnull().sum()

userid    3
date      0
age       0
dtype: int64

In [39]:
df.shape

(12, 3)

In [40]:
df_cleaned = df.dropna()

df_cleaned.shape

(9, 3)

In [42]:
df_cleaned

   userid      date   age
0     1.0  1/1/2017  1982
1     2.0  1/2/2017  1981
2     3.0  1/3/2017  1980
3     4.0  1/1/2018  1617
4     5.0  1/2/2018  1616
5     6.0  1/3/2018  1615
6     1.0  1/1/2019  1252
7     3.0  1/2/2019  1251
8     6.0  1/3/2019  1250

In [47]:
df_cleaned.groupby('userid').max()

            date   age
userid
1.0     1/1/2019  1982
2.0     1/2/2017  1981
3.0     1/3/2017  1980
4.0     1/1/2018  1617
5.0     1/2/2018  1616
6.0     1/3/2019  1615

In [50]:
df_cleaned['age_bin'] = pd.cut(x=df['age'], bins=[1,365,730,1460,9999], labels=['< 1 year', '1 to 2 years','2 to 4 years', ' > 5 years'])

df_cleaned

C:\Users\basel\AppData\Local\Temp/ipykernel_17084/1152175781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['age_bin'] = pd.cut(x=df['age'], bins=[1,365,730,1460,9999], labels=['< 1 year', '1 to 2 years','2 to 4 years', ' > 5 years'])

   userid      date   age       age_bin
0     1.0  1/1/2017  1982     > 5 years
1     2.0  1/2/2017  1981     > 5 years
2     3.0  1/3/2017  1980     > 5 years
3     4.0  1/1/2018  1617     > 5 years
4     5.0  1/2/2018  1616     > 5 years
5     6.0  1/3/2018  1615     > 5 years
6     1.0  1/1/2019  1252  2 to 4 years
7     3.0  1/2/2019  1251  2 to 4 years
8     6.0  1/3/2019  1250  2 to 4 years

In [52]:
df_cleaned.groupby('age_bin')['userid'].count()

age_bin
< 1 year        0
1 to 2 years    0
2 to 4 years    3
 > 5 years      6
Name: userid, dtype: int64

In [57]:
df_cleaned.drop(columns=['date','age'], inplace=True)

KeyError: "['date' 'age'] not found in axis"

In [59]:
df_cleaned.drop(['date','age'], axis=1, inplace=True)

KeyError: "['date' 'age'] not found in axis"

In [58]:
df_cleaned.head()

   userid     age_bin
0     1.0   > 5 years
1     2.0   > 5 years
2     3.0   > 5 years
3     4.0   > 5 years
4     5.0   > 5 years

In [60]:
df17 = pd.read_csv(r"C:\Users\basel\Desktop\Collage things\2nd year\2nd sem\data engineering\Codes\Chapter07\data\source\user_data_2017.csv")
df17.head()

   userid      date  year
0       1  1/1/2017  2017
1       2  1/2/2017  2017
2       3  1/3/2017  2017

In [61]:
df17 = pd.read_csv(r"C:\Users\basel\Desktop\Collage things\2nd year\2nd sem\data engineering\Codes\Chapter07\data\source\user_data_2017.csv")
df18 = pd.read_csv(r"C:\Users\basel\Desktop\Collage things\2nd year\2nd sem\data engineering\Codes\Chapter07\data\source\user_data_2018.csv")
df19 = pd.read_csv(r"C:\Users\basel\Desktop\Collage things\2nd year\2nd sem\data engineering\Codes\Chapter07\data\source\user_data_2019.csv")

In [62]:
df17.head()

   userid      date  year
0       1  1/1/2017  2017
1       2  1/2/2017  2017
2       3  1/3/2017  2017

In [63]:
df18.head()

   userid      date  year
0       4  1/1/2018  2018
1       5  1/2/2018  2018
2       6  1/3/2018  2018

In [64]:
df19.head()

   userid      date  year
0       1  1/1/2019  2019
1       3  1/2/2019  2019
2       6  1/3/2019  2019

In [65]:
full_df = pd.concat([df17, df18, df19], ignore_index=True)

In [66]:
full_df

   userid      date  year
0       1  1/1/2017  2017
1       2  1/2/2017  2017
2       3  1/3/2017  2017
3       4  1/1/2018  2018
4       5  1/2/2018  2018
5       6  1/3/2018  2018
6       1  1/1/2019  2019
7       3  1/2/2019  2019
8       6  1/3/2019  2019